<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taeyun의 포트폴리오</title>
  <!-- ===== CSS Files ===== -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/skins/color-1.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <!-- ====== Style Switcher ====== -->
  <link rel="stylesheet" href="/css/skins/color-1.css" class="alternate-style" title="color-1" disabled>
  <link rel="stylesheet" href="/css/skins/color-2.css" class="alternate-style" title="color-2" disabled>
  <link rel="stylesheet" href="/css/skins/color-3.css" class="alternate-style" title="color-3" disabled>
  <link rel="stylesheet" href="/css/skins/color-4.css" class="alternate-style" title="color-4" disabled>
  <link rel="stylesheet" href="/css/skins/color-5.css" class="alternate-style" title="color-5" disabled>
  <link rel="stylesheet" href="/css/style-switcher.css">
</head>
<body>
  <!-- ===== Main Container Start ===== -->
  <div class="main-container">
    <!-- ===== Aside Start ===== -->
    <div class="aside">
      <div class="logo">
        <a href="#"><span>P</span>rofi<span>le</span></a>
      </div>
      <div class="nav-toggler">
        <span></span>
      </div>
      <ul class="nav">
        <li><a href="#home" class="active"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="#about"><i class="fa fa-user"></i>About</a></li>
        <li><a href="#services"><i class="fa fa-list"></i>Services</a></li>
        <li><a href="#portfolio"><i class="fa fa-briefcase"></i>Portfolio</a></li>
        <li><a href="#contact"><i class="fa fa-comments"></i>Contact</a></li>
      </ul>
    </div>
    <!-- ===== Aside End ===== -->
    <!-- ===== Main Content Start ===== -->
    <div class="main-content">
      <!-- ===== Home Section Start ===== -->
      <section class="home active section" id="home"> 
        <div class="container">
          <div class="row">
            <div class="home-info padd-15">
              <!-- <h3 class="hello">안녕하세요!, 제 이름은 김태윤 입니다. <span class="name">TaeYun Kim</span></h3> -->
              <h3 class="my-profession">I' m a <span class="typing">BackEnd Developer</span></h3>
              <p>꾸준히 성장하는 개발자 김태윤입니다.
              무엇이든 관심이 생기면 빠르게 도전하고 실행합니다.
              <br>
              현재 개인 프로젝트를 진행중이며 부족한 부분을 채우려고 노력중입니다.
              </p>
              <a href="#" class="btn">Download CV</a>
            </div>
            <div class="home-img padd-15">
              <img src="/images/my.jpg" alt="">
            </div>
          </div>
        </div>
      </section>
      <!-- ===== Home Section End ===== -->
      <!-- ===== About Section Start ===== -->
      <section class="about section" id="about"> 
        <div class="container">
          <div class="row">
            <div class="section-title padd-15">
              <h2>About Me</h2>
            </div>
          </div>
          <div class="row">
            <div class="about-content padd-15">
              <div class="row">
                <div class="about-text padd-15">
                  <h3>I'm TaeYun Kim and <span>BackEnd Developer</span></h3>
                  <p>저는 개발에 커뮤니티에 새로운 것을 배우는 걸 즐겨합니다. 동료들과 프로젝트를 진행하며 새로운 걸 배우기 위해 개발 외에도 역량을 넓히기 위해
                    AWS 컨퍼런스, 개발자 세미나에 자주 참가하며 선배 개발자들이 어떻게 활용하고 있는지 경험하며 적용하려 노력하고 있습니다.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="personal-info padd-15">
                  <div class="row">
                    <div class="info-item padd-15">
                      <p>Birthday : <span>1996/06/03</span></p>
                    </div>
                    <div class="info-item padd-15">
                      <p>Age : <span>28</span></p>
                    </div>
                    <div class="info-item padd-15">
                      <p>Github : <a href="https://github.com/lala9663/lala9663" target="_blank">lala9663</a></p>
                    </div>                    
                    <div class="info-item padd-15">
                      <p>Blog : <a href="https://lala9663.tistory.com/" target="_blank">Bump_Into</a></p>
                    </div>
                    <div class="info-item padd-15">
                      <p>Email : <span>lala96632040@gmail.com</span></p>
                    </div>
                    <div class="info-item padd-15">
                      <p>Degree : <span>청운대학교</span></p>
                    </div>
                    <div class="info-item padd-15">
                      <p>Phone : <span>010 6614 2040</span></p>
                    </div>
                    <div class="info-item padd-15">
                      <p>City : <span>Seoul</span></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="buttons padd-15">
                      <a href="#contact" data-section-index="1" class="btn hire-me">Hire Me</a>
                    </div>
                  </div>
                </div>
                <div class="skills padd-15">
                  <div class="row">
                    <div class="skill-item padd-15">
                      <h5>Java</h5>
                      <div class="progress">
                        <div class="progress-in" style="width: 70%;"></div>
                        <div class="skill-percent">70%</div>
                      </div>
                    </div>
                    <div class="skill-item padd-15">
                      <h5>Spring</h5>
                      <div class="progress">
                        <div class="progress-in" style="width: 80%;"></div>
                        <div class="skill-percent">80%</div>
                      </div>
                    </div>
                    <div class="skill-item padd-15">
                      <h5>JPA</h5>
                      <div class="progress">
                        <div class="progress-in" style="width: 60%;"></div>
                        <div class="skill-percent">60%</div>
                      </div>
                    </div>
                    <div class="skill-item padd-15">
                      <h5>Mybatis</h5>
                      <div class="progress">
                        <div class="progress-in" style="width: 65%;"></div>
                        <div class="skill-percent">65%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="education padd-15">
                  <h3 class="title">Education</h3>
                  <div class="row">
                    <div class="timeline-box padd-15">
                      <div class="timeline shadow-dark">
                        <!-- ===== timeline item ===== -->
                        <div class="timeline-item">
                          <div class="circle-dot"></div>
                          <h3 class="timeline-date">
                            <i class="fa fa-calendar"></i> 15.03 ~ 22.02
                          </h3>
                          <h4 class="timeline-title">청운대학교</h4>
                          <p class="timeline-text">전공과는 별개로 IT 직무에 관심을 가지기 시작</p>
                        </div>
                        <!-- ===== timeline item ===== -->
                        <div class="timeline-item">
                          <div class="circle-dot"></div>
                          <h3 class="timeline-date">
                            <i class="fa fa-calendar"></i> 22.09.04 ~ 23.04.18
                          </h3>
                          <h4 class="timeline-title">패스트캠퍼스 백엔드</h4>
                          <p class="timeline-text">7개월 동안 Java와 Spring을 중심으로 소프트웨어 개발 및 CS 기초를 학습했고,
                          Github을 활용하여 프로젝트 관리 및 협업을 경험하며 효율적인 코드 관리를 배웠습니다. 프론트엔드 개발자들과의
                          협업을 통해 원활한 의사 소통과 효과적인 팀 협업 능력을 향상시켰습니다</p>
                        </div>
                        <!-- ===== timeline item ===== -->
                        <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h3 class="timeline-date">
                          <i class="fa fa-calendar"></i>23. 11. 01 ~ 24. 01. 25
                        </h3>
                        <h4 class="timeline-title">메타넷 그룹 채용연계형 교육 인턴십</h4>
                        <p class="timeline-text">Java, Spring, JavaScript, Vue, Docker를 학습했습니다. 
                        다양한 기술들을 습득하였습니다. 이를 통해 종합적인 웹 개발 역량을 키웠으며, 실전 프로젝트에서 활용할 수 있는 실무 경험을 쌓았습니다.</p>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="experience padd-15">
                  <h3 class="title">Study</h3>
                  <div class="row">
                    <div class="timeline-box padd-15">
                      <div class="timeline shadow-dark">
                        <!-- ===== timeline item ===== -->
                        <div class="timeline-item">
                          <div class="circle-dot"></div>
                          <h3 class="timeline-date">
                            <i class="fa fa-calendar"></i> 23.05.01 ~ 23.08.31
                          </h3>
                          <h4 class="timeline-title">CS & 알고리즘 & 책</h4>
                          <p class="timeline-text">국비 교육 과정 수료 후 동기들과 같이 CS & 알고리즘 & 책 스터디</p>
                        </div>
                          <!-- ===== timeline item ===== -->
                        <div class="timeline-item">
                          <div class="circle-dot"></div>
                          <h3 class="timeline-date">
                            <i class="fa fa-calendar"></i> 23.07.01 ~~
                          </h3>
                          <h4 class="timeline-title">원티드 챌린지</h4>
                          <p class="timeline-text">챌린지에 꾸준히 참여하여 공부 및 커뮤니티 형성</p>
                        </div>
                              <!-- ===== timeline item ===== -->
                        <div class="timeline-item">
                          <div class="circle-dot"></div>
                          <h3 class="timeline-date">
                            <i class="fa fa-calendar"></i> 23.01.01 ~~
                          </h3>
                          <h4 class="timeline-title">컨퍼런스 및 세미나</h4>
                          <p class="timeline-text">개발 외에 다양한 경험을 하고자 좋은 세미나와 컨퍼런스가 있으면 적극적으로 참여 중</p>
                        </div>
                        <!-- ===== timeline item ===== -->
                        <div class="timeline-item">
                          <div class="circle-dot"></div>
                          <h3 class="timeline-date">
                            <i class="fa fa-calendar"></i> 23.02..14 ~~
                          </h3>
                          <h4 class="timeline-title">인프런 스터디</h4>
                          <p class="timeline-text">함께 공부하면서 고민도 나눌 수 있는 커뮤니티</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ===== About Section End ===== -->
      <!-- ===== Services Section Start ===== -->
      <section class="service section" id="services">
        <div class="container">
          <div class="row">
            <div class="section-title padd-15">
              <h2>Services</h2>
            </div>
          </div>
          <div class="row">
            <!-- ===== Service item Start ====== -->
            <div class="service-item padd-15">
              <div class="service-item-inner">
                <div class="icon">
                  <i class="fa fa-mobile-alt"></i>
                </div>
                <h4>Web Design</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil velit ab itaque.</p>
              </div>
            </div>
            <!-- ===== Service item End ====== -->
             <!-- ===== Service item Start ====== -->
             <div class="service-item padd-15">
              <div class="service-item-inner">
                <div class="icon">
                  <i class="fa fa-laptop-code"></i>
                </div>
                <h4>Web Design</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil velit ab itaque.</p>
              </div>
            </div>
            <!-- ===== Service item End ====== -->
             <!-- ===== Service item Start ====== -->
             <div class="service-item padd-15">
              <div class="service-item-inner">
                <div class="icon">
                  <i class="fa fa-palette"></i>
                </div>
                <h4>Web Design</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil velit ab itaque.</p>
              </div>
            </div>
            <!-- ===== Service item End ====== -->
             <!-- ===== Service item Start ====== -->
             <div class="service-item padd-15">
              <div class="service-item-inner">
                <div class="icon">
                  <i class="fa fa-code"></i>
                </div>
                <h4>Web Design</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil velit ab itaque.</p>
              </div>
            </div>
            <!-- ===== Service item End ====== -->
             <!-- ===== Service item Start ====== -->
             <div class="service-item padd-15">
              <div class="service-item-inner">
                <div class="icon">
                  <i class="fa fa-search"></i>
                </div>
                <h4>Web Design</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil velit ab itaque.</p>
              </div>
            </div>
            <!-- ===== Service item End ====== -->
             <!-- ===== Service item Start ====== -->
             <div class="service-item padd-15">
              <div class="service-item-inner">
                <div class="icon">
                  <i class="fa fa-bullhorn"></i>
                </div>
                <h4>Web Design</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil velit ab itaque.</p>
              </div>
            </div>
            <!-- ===== Service item End ====== -->
          </div>
        </div>
      </section>
      <!-- ===== Services Section End ===== -->
      <!-- ===== Portfolio Section Start ===== -->
      <section class="portfolio section" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="section-title padd-15">
              <h2>Portfolio</h2>
            </div>
          </div>
          <div class="row">
            <div class="portfolio-heading padd-15">
              <h2>My Last Projects :</h2>
            </div>
          </div>
          <div class="row">
            <!-- ====== portfolio item start ====== -->
            <div class="portfolio-item padd-15">
              <div class="portfolio-item-inner shadow-dark">
                <div class="portfolio-img">
                  <a href="https://go-together-6.netlify.app/">
                    <img src="/images/portfolio/GoTogether.jpg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <!-- ====== portfolio item End ====== -->
             <!-- ====== portfolio item start ====== -->
             <div class="portfolio-item padd-15">
              <div class="portfolio-item-inner shadow-dark">
                <div class="portfolio-img">
                  <img src="/images/portfolio/portfolio-2.jpg" alt="">
                </div>
              </div>
            </div>
            <!-- ====== portfolio item End ====== -->
             <!-- ====== portfolio item start ====== -->
             <div class="portfolio-item padd-15">
              <div class="portfolio-item-inner shadow-dark">
                <div class="portfolio-img">
                  <img src="/images/portfolio/portfolio-3.jpg" alt="">
                </div>
              </div>
            </div>
            <!-- ====== portfolio item End ====== -->
             <!-- ====== portfolio item start ====== -->
             <div class="portfolio-item padd-15">
              <div class="portfolio-item-inner shadow-dark">
                <div class="portfolio-img">
                  <img src="/images/portfolio/portfolio-4.jpg" alt="">
                </div>
              </div>
            </div>
            <!-- ====== portfolio item End ====== -->
             <!-- ====== portfolio item start ====== -->
             <div class="portfolio-item padd-15">
              <div class="portfolio-item-inner shadow-dark">
                <div class="portfolio-img">
                  <img src="/images/portfolio/portfolio-5.jpg" alt="">
                </div>
              </div>
            </div>
            <!-- ====== portfolio item End ====== -->
             <!-- ====== portfolio item start ====== -->
             <div class="portfolio-item padd-15">
              <div class="portfolio-item-inner shadow-dark">
                <div class="portfolio-img">
                  <img src="/images/portfolio/portfolio-6.jpg" alt="">
                </div>
              </div>
            </div>
            <!-- ====== portfolio item End ====== -->
          </div>
        </div>
      </section>
      <!-- ===== Portfolio Section End ===== -->
      <!-- ===== Contact Section Start ===== -->
      <section class="contact section" id="contact">
        <div class="container">
          <div class="row">
            <div class="section-title padd-15">
              <h2>Contact Me</h2>
            </div>
          </div>
          <h3 class="contact-title padd-15">Have You Any Questions ?</h3>
          <h4 class="contact-sub-title padd-15">I'M AT YOUR SERVICES</h4>
          <div class="row">
            <!-- ===== Contact info item start ====== -->
            <div class="contact-info-item padd-15">
              <div class="icon"><i class="fa fa-phone"></i></div>
              <h4>Call Us On</h4>
              <p>010 6614 2040</p>
            </div>
            <!-- ===== Contact info item end ====== -->
             <!-- ===== Contact info item start ====== -->
             <div class="contact-info-item padd-15">
              <div class="icon"><i class="fa fa-map-marker-alt"></i></div>
              <h4>Blog</h4>
              <p>https://lala9663.tistory.com/</p>
            </div>
            <!-- ===== Contact info item end ====== -->
             <!-- ===== Contact info item start ====== -->
             <div class="contact-info-item padd-15">
              <div class="icon"><i class="fa fa-envelope"></i></div>
              <h4>Email</h4>
              <p>lala96632040@gmail.com</p>
            </div>
            <!-- ===== Contact info item end ====== -->
             <!-- ===== Contact info item start ====== -->
             <div class="contact-info-item padd-15">
              <div class="icon"><i class="fa fa-globe-europe"></i></div>
              <h4>Github</h4>
              <p>https://github.com/lala9663/lala9663</p>
            </div>
            <!-- ===== Contact info item end ====== -->
          </div>
          <h3 class="contact-title padd-15">SEND ME AN EMAIL</h3>
          <h4 class="contact-sub-title padd-15">I'M VERY RESPOSIVE TO MESSAGES</h4>
          <!-- ====== Contact Form ====== -->
          <div class="row">
            <div class="contact-form padd-15">
              <div class="row">
                <div class="form-item col-6 padd-15">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name">
                  </div>
                </div>
                <div class="form-item col-6 padd-15">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-item col-12 padd-15">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Subject">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-item col-12 padd-15">
                  <div class="form-group">
                    <textarea name="" class="form-control" id=""  placeholder="Message"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-item col-12 padd-15">
                  <button type="submit" class="btn">Send Message</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ===== Contact Section End ===== -->
    </div>
    <!-- ===== Main Content End ===== -->
  </div>
  <!-- ===== Main Container End ===== -->
  <!-- ===== Style Switcher Start ===== -->
  <div class="style-switcher">
    <div class="style-switcher-toggler s-icon">
      <i class="fas fa-cog fa-spin"></i>
    </div>
    <div class="day-night s-icon">
      <i class="fas "></i>
    </div>
    <h4>Theme Colors</h4>
    <div class="colors">
      <span class="color-1" onclick="setActiveStyle('color-1')"></span>
      <span class="color-2" onclick="setActiveStyle('color-2')"></span>
      <span class="color-3" onclick="setActiveStyle('color-3')"></span>
      <span class="color-4" onclick="setActiveStyle('color-4')"></span>
      <span class="color-5" onclick="setActiveStyle('color-5')"></span>
    </div>
  </div>
  <!-- ===== Style Switcher End ===== -->
  <!-- ===== JS Files ===== -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js" referrerpolicy="no-referrer"></script>
  <script src="/js/script.js"></script>
  <script src="/js/style-switcher.js"></script>
</body>
</html>